body {
    background-color: #F5E9E2;
}
    
h1 {
    color: #68b169;
}

h2 {
    color: #3F7CAC;
}

h3 {
    color: #3F7CAC;
}

h4 {
    color: #32373B;
    font-style: italic;
    font-weight:bolder
}

p {
    font-size: 20px;
    color: #32373B;
    text-align: center;
}

ul {
    font-size: 20px;
    color: #32373B;
}

ol {
    font-size: 20px;
    color: #32373B;
}

a {
    color: #f92a82;
}

img {
    margin: 20px 0px;
    display: block;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.indexTable {
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid #7eb77f;
    border-spacing: 0;
    font-size: 20px;
}

th {
    border: 1px solid #7eb77f;
    padding: 10px 200px 10px 10px
}

td {
    border: 1px solid #7eb77f;
    padding: 10px 10px 10px 10px
}

span {
    color:#3F7CAC;
}

#section-1 {
    border: 3px solid #3F7CAC;
    background-color: #7EB77F;
    padding: 35px;
}

.whiteFont {
    color: white;
}

#section-2 {
    border: 3px solid #7eb77f;
    background-image: url(../images/space-g30adea84e_640.png);
    padding: 30px;
}

#wrapper-2 {
    background-color:#f92a82d4;
    padding: 5px;    
}

#section-3 {
    border: 3px solid yellow;
    background-image: url(../images/sun-g8a41971b8_640.jpg);
    padding: 30px;
}

#wrapper-3 {
    background-color: white;
    padding: 5px;
}

.contactTable {
    border: none;
    padding: none;
}
    

.thick {
    border-top-width: thick;
}

.centrePadding {
    padding-right: 100px;
}

.textCentre {
    text-align: center;
}

.contactMainImage {
    border: solid #7EB77F 5px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contactIcon {
    display:inline;
}

.contactEmail {
    margin: 50px;
}

.lesson {
    margin-left: 50px;
    margin-bottom: 100px;
}