body {
    background-color: #F5E9E2;
}
    
h1 {
    color: #68b169;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: #3F7CAC;
}

h3 {
    color: #3F7CAC;
}

h4 {
    color: #32373B;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-weight:bolder
}

p {
    font-size: 20px;
    color: #32373B;
}

ul {
    color: #32373B;
}

a {
    color: #7EB77F;
}

a:visited {
    color: #F92A82;
}

